body {
  background-color: #000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.slider {
  position: relative;
  /* width: 80%;
  margin: 50px auto;
  overflow: hidden; */
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.slide-images {
  max-width: 1920px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
}

.card {
  flex: 1;
  width: 32%;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.card-img {
  width: -webkit-fill-available;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.5s ease-in-out;
}

.card-img:hover {
  transform: scale(1.05);
}

.icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers horizontally and vertically */
  max-width: 1920px;
  width: 100%;
  /* padding: 30px; */
  display: flex;
  z-index: 10;
  justify-content: space-between;
}

.icons i {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  padding: 6px 10px;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.icons i:hover {
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

.icons i:first-child {
  margin-left: 30px;
}

.icons i:last-child {
  margin-right: 30px;
}

.slide-images::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1024px) {
  .card {
    height: unset;
  }
  .slide-images {
    padding: 10px;
  }
  .icons i:first-child {
    margin-left: 20px;
  }
  
  .icons i:last-child {
    margin-right: 20px;
  }
}
@media (max-width:768px){
    .slide-images { 
        gap: 6px;
    }
    .icons i {
        font-size: .7rem;
        padding: 4px 6px;
    }
}
